{% extends 'Entregable1App/base.html' %}

{% block tituloPagina %}
Canchas - Canchas Max
{% endblock %}

{% block contenidopagina %}
<section class="bg-light py-5">
    <div class="container px-5">
        <h1>Nosotros</h1>
        <br>
        <br>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 table-responsive">
                <p>
                    Este grupo esta compuesto por dos integrantes <b>Cristian Damian Marazzita</b> y <b>Cristian Damian Suarez</b>.
                </p>
            </div>
            <div class="col-lg-10 table-responsive">
                <h2>Cristian Damian Marazzita</h2>
                <p>
                    Mi nombre es Cristian Marazzita, trabajo en el Banco Patagonia hace 10 años, mi puesto es Cajero Principal, siempre me gusto todo lo relacionado a las computadoras, fui técnico en pc. Este año viendo como creció el mundo de la programación, decidí empezar y Python me pareció el indicado debido a la demanda que tiene hoy. La verdad me sentí cómodo con el curso, pero me costo mucho, por suerte me toco el mejor compañero, el cual me ayudo mucho en todo esto y pudimos sacar adelante el proyecto.
                </p>
            </div>
            <div class="col-lg-10 table-responsive">
                <h2>Cristian Damian Suarez</h2>
                <p>
                    Hola, antes de empezar este curso y actualmente me desenpeño como encargado de la parte de tecnica de una empresa de Internet, y solo sabia programar en arduido.
                    Sin embargo en el curso aprendi y actualmente pude ayudar a mi compañero y en conjunto hacer esta mini pagina web, me siento muy contento.
                </p>
            </div>
            <div class="col-lg-10 table-responsive">
                <p>
                    Desde ya le agradesemos a <b>Lucas Trubiano</b> y <b>Rodrigo Robert</b>, por acompañarnos y guiarnos en todo el proyecto.
                    <b>Lucas Trubiano</b> en las clases siempre nos transmitio su expencia y nos saca cada duda.
                    <b>Rodrigo Robert</b> muy atento para sacarnos las dudad y siempre contesto muy rapido.
                    Asi que simplemente <b>GRACIAS...!!!!</b>

                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}