{% extends 'Entregable1App/base.html' %}

{% block tituloPagina %}
Inicio - Canchas Max
{% endblock %}

{% block contenidopagina %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Bienvenidos a Canchas Max</h1>
                    <p class="lead text-white-50 mb-4">Es lugar preparado para todas clases de deportes, con profesores calificados. Alquler de canchas, quinchos y mas.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}